.popup__form {
    width: 358px;
    height: 258px;
    background-color: #fff;
    border-radius: 10px;
    margin: 202px auto 0;;
    padding: 34px 36px 37px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 320px){
    .popup__form{
        width: 238px;
        height: 282px;
        margin: 122px auto 0;
        padding: 28px 21px 11px;
    }
}
